*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
   background-color: hsl(217, 54%, 11%);
   display: grid;
   place-content: center center;
  

}

.container{
    margin-top: 8rem;
    display: grid;
    grid-template-columns:23rem;
    grid-template-rows: 3rem;
   background-color:  hsl(216, 50%, 16%);
   border-radius: 1.5rem;
   padding-top: 1.5rem;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   font-family: 'Outfit', sans-serif;

}


.container img{
    width: 23rem;
    height: 22rem;
    border-radius: 1rem;
}


.container h1{
    margin-top: 21rem;
    text-align: left;
    color: azure;
    font-size: 1.5rem;
  
}

.description{
    color:  hsl(215, 51%, 70%);
    margin-top: 1.6rem;
    font-size:1.2rem ;
}

.value {
    color: hsl(178, 100%, 50%);
    margin-top: 1.6rem;
    font-size: 1.3rem;
    font-weight: 600;
   
}


.days{
   
    color:  hsl(215, 51%, 70%);
    font-size: 1.3rem;
   text-align: right;
   position: absolute;
   margin-top: 32rem;
   margin-left: 14rem;
    
}


footer{
    margin-top: 2rem;
    border-top:solid 1px hsl(215, 51%, 70%);
  
}

.attribution{
    margin-top: 2.5rem;
    font-size: 1.2rem;
    color:hsl(215, 51%, 70%) ;
    margin-bottom: 3rem;
    margin-left: 4rem;
}

.attribution span{
    color: azure;
}

.footer img{
    position: absolute;
    width: 3rem;
    height: 3rem;
    margin-top: 1.5rem;
    border: solid white;
    border-radius: 50%;
    
}

